@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@300;600;700;800&display=swap");

/* Hamburger Menu */
.hamburger {
  cursor: pointer;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
  position: relative;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  /* Make it appear like they are in a single line stacked above each other*/
  position: absolute;
  width: 24px;
  height: 2px;
  top: 0;
  left: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}

.open {
  transform: rotate(90deg);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

/* Hero Brand*/
#hero-brand {
  background: linear-gradient(to bottom, transparent 50%, #f5ff81 50%);
}

#information-heading {
  background: linear-gradient(to bottom, transparent 50%, #80e8ff 50%);
}

#hero-btn {
  box-shadow: 10px 10px 0px 1px #308fbc;
}

#hero-btn:hover {
  box-shadow: none;
  transform: translate(10px, 10px);
}

.blue-box {
  box-shadow: 10px 10px 0px 1px #80e8ff;
}
